/*.chat-box {
	position:relative;
}
*/

.chat-box {
    height: 200px;
    width: 500px;
    border: 2px solid lightgray;
    overflow: auto;
	position:relative;
}

.chat-output {
    height: 0px;
    width: 500px;
	position:   absolute;
    bottom:     0;
    width: 100%;
}

#videos-container {
    height: auto;
    width: 100%;

}

video {
    height: auto;
    width: 100%;

}
/*
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #messages { margin-bottom: 40px }

/*
	
	.chat-output div {
    border:1px solid #e2e4e3;
    border-radius: 5px;
    margin:5px;
    padding:10px;;
}

#chat-box
    {
        overflow:   none;
        position:   relative;
        width:      100%;
        height:     400px;
    }
    #chat-output
    {
        overflow:   auto;
        position:   absolute;
        bottom:     0;
        max-height: 400px;
    }

.chat-box {
    height: 200px;
    width: 500px;
    border: 2px solid lightgray;
    overflow: auto;
}
.chat-output {
	position:   absolute;
    bottom:     0;
    width: 100%;
}

.chat-box {
    position:   relative;
    width:      100%;
    border: 	1px solid #ccc;
}
.chat-output
{
    position:   absolute;
    bottom:     0;
    width: 100%;
    max-height: 200px;
}
.chat-div {
    border:1px solid #e2e4e3;
    border-radius: 5px;
    margin:5px;
    padding:10px;
}
*/
